.chakra-stack{
    max-height: none;
    -webkit-mask-image: none;
}

.question-content.css-zmelcr {
    margin-bottom: 15rem;
}

.question-content{
    max-height: none !important;
    -webkit-mask-image: none !important;
}

.chakra-stack.css-ujz8lb{
    display: none;
}

.chakra-stack.css-1c77zrq{
    display: none;
}

.lock-discussions {
    max-height: none;
    overflow: hidden;
    pointer-events: none;
    mask-image: none;
    -webkit-mask-image: none;
}
